[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/omnisharp"]
	path = bundle/omnisharp
	url = https://github.com/nosami/Omnisharp.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-powershell"]
	path = bundle/vim-powershell
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/Tcomment"]
	path = bundle/Tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
